* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

.footer {
    background-color: #315530;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
    width: 100%;
}

.footer-section {
    margin: 0 20px;
}

.footer-logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.footer-links h4, .footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #cccccc;
}

.footer-links a, .footer-section p a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color .3s ease;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-links a:hover, .footer-section p a:hover {
    color: #00C3FF;
}

.social-link img {
    width: 40px;
    height: 40px;
    transition: transform .3s ease;
}

.social-link:hover img {
    transform: scale(1.1);
}

@media (max-width: 991px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}
