body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    background-color: #f5f5f5;
    border-bottom: 4px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añade una sombra para mejorar la visibilidad */
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-content {
    margin-top: 80px; /* Ajusta este valor a la altura de tu header */
}

.full-screen-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Ajustado de 'center' a 'flex-end' para mover el texto al fondo */
    height: calc(100vh - 80px); /* Ajusta la altura restando la altura del header */
    background: url(../images/welcome/fachada_ecomuseo.jpg) no-repeat center center;
    background-size: contain; /* Asegura que la imagen se escale para caber en el contenedor */
    background-attachment: fixed; /* Fija la imagen de fondo */
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el tamaño total del elemento */
}

.full-screen-banner h1, .full-screen-banner p {
    background-color: rgba(0, 0, 0, 0.35); /* Gris medio con 50% de transparencia */
    padding: 10px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados ligeramente */
}

.full-screen-banner h1 {
    font-size: 50px; /* Tamaño de fuente para el título */
    font-weight: bold; /* Texto en negrita */
}

.full-screen-banner p {
    font-size: 15px; /* Tamaño de fuente para el párrafo */
    font-weight: bold; /* Texto en negrita */
}
.actividades {
    background-color: rgb(255, 255, 255);
    padding: 2rem 0;
}

.actividades h1 {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-style: italic;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.05px;
}

.actividades .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
}

.actividades .box-container .box {
    flex: 1 1 300px; /* Ajusta este valor según prefieras */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    background-color: #AAE983;
    overflow: hidden;
    padding-bottom: 1rem; /* Añade espacio para el botón */
    min-height: 400px; /* Asegura suficiente altura para todo el contenido */
}

.actividades .box-container .box .actividad {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.actividades .box-container .box .actividad img {
    width: 100%;
    height: auto; /* Deja que la altura se ajuste automáticamente */
    max-height: 200px; /* Ajusta este valor para controlar el espacio que ocupa la imagen */
    object-fit: contain; /* Asegura que la imagen se muestre completa dentro del contenedor */
    border-radius: 0.5rem 0.5rem 0 0;
}

.actividades .box-container .box .actividad h3 {
    margin-top: 1rem;
}

.actividades .box-container .box .actividad p {
    margin-top: 0.5rem;
}

.actividades .box-container .box .actividad a {
    margin-top: 1rem;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    flex-shrink: 0; /* Evita que el botón se encoja */
    margin-bottom: 1rem; /* Asegura que el botón no esté pegado al borde inferior */
}

.contenedor {
    display: flex;
    flex-direction: row;  /* Alinea elementos horizontalmente */
    justify-content: space-between;  /* Asegura espacio entre carrusel y mapa */
    align-items: center;  /* Alineación vertical */
}

.carousel-inner img {
    width: 100%;  /* Mantén esto para que las imágenes sean responsivas */
    max-height: 400px;  /* Limita la altura de las imágenes */
    object-fit: cover;  /* Asegura que las imágenes cubran el área sin deformarse */
}

.carousel {
    position: relative;
    overflow: hidden; /* Oculta cualquier cosa fuera del carrusel */
}

.carousel-container {
    flex: 1;  /* Flexibilidad para ocupar espacio disponible */
    padding: 15px;  /* Espacio alrededor del carrusel */
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
}

.mapa {
    flex: 1;  /* Flexibilidad para ocupar espacio disponible */
    padding: 15px;  /* Espacio alrededor del mapa */
    height: 450px;  /* Altura fija para el mapa */
}

.mapa iframe {
    width: 100%;  /* El mapa ocupa todo el espacio asignado */
    height: 100%;  /* Altura completa del contenedor */
}

@media (max-width: 768px) {
    .actividades h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .actividades .box-container {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0; /* Ajusta el padding para móviles */
    }

    .actividades .box-container .box {
        width: 90%; /* Ajusta el ancho de los elementos para móviles */
        margin-bottom: 1rem; /* Espacio entre elementos */
    }

    .actividades .box-container .box .actividad img {
        height: auto; /* Permite que las imágenes se adapten a la altura según el contenido */
        max-height: 150px; /* Limita la altura de la imagen en móviles */
    }

    .main-navigation {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .main-content {
        margin-top: 100px; /* Ajusta este valor si es necesario */
    }

    .full-screen-banner {
        height: calc(100vh - 80px); /* Asegura que el banner ocupe toda la pantalla menos la altura del header */
        background-size: contain; /* Ajusta el tamaño de fondo para que quepa en el viewport */
        padding: 10px; /* Reduce el padding para dispositivos móviles */
    }
    .full-screen-banner h1 {
        font-size: 20px; /* Reduce el tamaño de fuente para el título para que se adapte mejor a pantallas pequeñas */
        padding: 8px; /* Ajuste del padding para mantener la proporción */
    }

    .full-screen-banner p {
        font-size: 10px; /* Reduce el tamaño de fuente para el párrafo para mayor comodidad de lectura en pantallas pequeñas */
        padding: 5px; /* Ajuste del padding para mantener la legibilidad */
    }

    /* Asegurarse de que el fondo detrás del texto sigue siendo visible y efectivo en tamaños más pequeños */
    .full-screen-banner h1, .full-screen-banner p {
        background-color: rgba(0, 0, 0, 0.5); /* Oscurece un poco más para mejorar la legibilidad contra fondos potencialmente complejos */
    }

    .mapa iframe {
        height: 200px; /* Reduce la altura del mapa en dispositivos móviles */
    }

    .imagen-abajo {
        height: 50vh; /* Reduce la altura de la imagen para dispositivos móviles */
    }

    .contenedor {
        flex-direction: column;  /* Los elementos se apilan verticalmente en pantallas pequeñas */
    }

    .carousel-inner img {
        max-height: 300px;  /* Menor altura para las imágenes en dispositivos móviles */
    }

    .mapa {
        height: 300px;  /* Altura menor para el mapa en dispositivos móviles */
    }
}
