.logo-svg {
    display: block; /* Hace que la imagen se pueda centrar */
    width: 120px; /* Ajusta el ancho según el tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
}

.main-content {
    margin-top: 80px; /* Ajusta este valor a la altura de tu header */
}
/*
.div-profile{
    border: transparent;
} */
